<div class="profile_edit_container">

  <h1>Edit <%= resource_name.to_s.humanize %></h1>

  <div class="profile_edit_box">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :ユーザーネーム %>
      <%= f.text_field :username, placeholder: " 例) 山田太郎" %>
    </div>

    <div class="field">
      <%= f.label :Eメール %>
      <%= f.email_field :email, placeholder: "例) yamada.tarou@email.com" %>
    </div>

    <div class="field">
      <%= f.label :プロフィール %>
      <%= f.text_area :profile, placeholder: "自分のプロフィールをどんどん記入しよう！" %>
    </div>

    <div class="field">
      <%= f.label :アイコン %>
      <%= f.file_field :image %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :パスワード %> <i>(変更しない場合は空白で構いません)</i>
      <%= f.password_field :password, placeholder: "6文字以上、半角英数字で入力してください" %>
    </div>

    <div class="field">
      <%= f.label :確認用パスワード %>
      <%= f.password_field :password_confirmation, placeholder: "6文字以上、半角英数字で入力してください" %>
    </div>

    <div class="field">
      <%= f.label :現在のパスワード %> <i>(プロフィールを変更するために必要です)</i>
      <%= f.password_field :current_password, placeholder: "6文字以上、半角英数字で入力してください" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  </div>

  <h2>Cancel my account</h2>

  <div class="destroy_account_box">

    <p>本当にアカウントを削除しますか？ <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "本当にいいの？" }, method: :delete %></p>

    <%= link_to "マイページへ", :back %>

  </div>

</div>
