<div class="mypage_container">

  <h1>My Page</h1>

  <ul class="mypage_profile_box">
    <% if @user.image? %>
      <li>アイコン:<%= image_tag @user.image.url, class: 'img' %></li>
    <% else %>
      <li>アイコン:<%= image_tag 'icon.png' , class: 'img' %></li>
    <% end %>
    <li>ユーザー名:<%= @user.username %></li>
    <li>Eメール:<%= @user.email %></li>
    <% if @user.profile? %>
      <li>プロフィール:<%= @user.profile %></li>
    <% else %>
      <li>プロフィール:設定されていません</li>
    <% end %>
    <li>投稿数:<%= @user.posts.count %></li>
    <li>
      <%= link_to follows_user_path(@user) do %>
          フォロー一覧:<%= @user.followings.count %>
      <% end %>
    </li>
    <li>
      <%= link_to followers_user_path(@user) do %>
          フォロワー一覧:<%= @user.followers.count %>
      <% end %>
    </li>
    <li>
      <%= link_to favorites_user_path(@user) do %>
        いいね一覧:<%= @user.favorites.count %>
      <% end %>
    </li>
  </ul>

  <h2>My Favorites</h2>

  <% if @user.favorites.empty? %>
    <div>まだお気に入りされた投稿はありません。</div>
  <% end %>
  <div class="mypage_favorites_box">
    <table class="mypage_table">
      <thead>
        <tr>
          <th>Icon</th>
          <th>Name</th>
          <th>Body</th>
        </tr>
      </thead>
      <tbody>
        <% @user.favorites.map {|f| f.post}.each do |post| %>
        <tr class="body_tr">
          <td>
            <%= link_to user_path(post.user) do %>
              <% if post.user.image? %>
                <%= image_tag post.user.image.url, class: 'img' %>
              <% else %>
                <%= image_tag 'icon.png' , class: 'img' %>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to post.user.username, user_path(post.user) %>
          </td>
          <td>
            <%= simple_format link_to post.body, post_path(post) %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>