<div class="userpage_container">

  <h1>User Page</h1>

  <div class="userpage_box">
    <table class="index_table">
      <thead>
        <tr>
          <th>Icon</th>
          <th>Name</th>
          <th>Follow</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr class="body_tr">
          <td>
            <%= link_to user_path(user) do %>
              <% if user.image? %>
                <%= image_tag user.image.url, class: 'img' %>
              <% else %>
                <%= image_tag 'icon.png' , class: 'img' %>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to user.username, user_path(user) %>
          </td>
          <td>
            <% if user.followed_by? current_user %>
              <%= link_to fa_icon("user", class: 'follow_true' ), user_relationships_path(user), method: :delete %>
            <% else %>
              <%= link_to fa_icon("user-plus", class: 'follow_false' ), user_relationships_path(user), method: :post %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>