<!DOCTYPE html>
<html>
  <head>
    <title>TweetSample2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="back_color">
    <div class="container">
      <header>
        <div class="header_left">
          <%= link_to 'Foot Tweet', root_path, class: 'logo' %>
        </div>
        <div class="clear"></div>
        <div class="header_right">
          <% if user_signed_in? %>
            <%= current_user.email %>でログイン中
            <%= link_to "ログアウト", destroy_user_session_path,
                method: :delete %> |
            <%= link_to "タイムライン", posts_path %> |
            <%= link_to 'マイページ', user_path(current_user) %> |
            <%= link_to "プロフィール変更",
                edit_user_registration_path(current_user) %> |
            <%= link_to 'アカウント一覧', users_path %> |
            <%= link_to '新規投稿', new_post_path %>
          <% else %>
            <%= link_to "新規登録", new_user_registration_path %> |
            <%= link_to "ログイン", new_user_session_path %>
          <% end %>
        </div>
        <div class="clear"></div>
      </header>
      <%= yield %>
    </div>
  </div>
  </body>
</html>
